# Object files
*.o
*.la
*.lo

# Build files
Makefile
Makefile.in
configure
config.*
libtool
depcomp
install-sh
missing
ltmain.sh
local.am
.libs
.deps
autom4te.cache
aclocal.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
tags

# Tools
adg2csdf
adgromgen
adgstat
mcmmodel
pdgtrans
visset
plamapgen
